{% extends "mon/mon_base.html" %}
{% block extrahead %}
<script src="{{ MEDIA_URL }}js/highcharts.js" type="text/javascript"></script>
{% endblock %}
{% block title %}Charts{% endblock %}
{% block header %}Charts{% endblock %}
{% block subheader %}graphs from data{% endblock %}
{% block content %}

<p>The date can be visualized using simple charts.</p>
<h3>Charts example</h3>
<div id="chart1" style="width: 100%; height: 400px"></div>
<div id="chart2" style="width: 100%; height: 400px"></div>
<dl>
    <dt></dt>
    <dd></dd>
</dl>

{% endblock %}

{% block extrabutt %}
<script type="text/javascript">
    var chart1; // globally available

    $(document).ready(function() {
        var options = {
            chart: {
                renderTo: 'chart2',
                defaultSeriesType: 'column'
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: []
            },
            yAxis: {
                title: {
                    text: 'Units'
                }
            },
            series: []
        };

        $.ajax({
            url: "{% url mon_router pattern="volt/created/" %}",
            dataType: 'json',
            success: function(data) {
                //console.log(data);
                $.each(data, function(i, o) {
                    //console.log(o);
                    console.log(oo.created);
                    $.each(o, function(ii, oo) {
                        console.log(oo);
                    });
                });

            }
        });        

        chart1 = new Highcharts.Chart({
            chart: {
                renderTo: 'chart1',
                defaultSeriesType: 'line'
            },
            title: {
                text: 'Volt & current'
            },
            xAxis: {
                title: {
                    text:'updated'
                },
                categories:['09', '10', '11', '12']
            },
            yAxis: {
                title: {
                    text: 'Voltage'
                },
                categories: ['updated']
            },
            series: [{
                name: 'Voltage',
                data: [1, 0, 4]
            }]
        });
    });
</script>
{% endblock %}
