{% extends "base.html" %}

{% load tabs %}
{% block navigation %}
{% tab "nav" "api" %}
{{ block.super }}
{% endblock %}

{% block title %}API{% endblock %}
{% block header %}API{% endblock %}
{% block subheader %}overview{% endblock %}
{% block content %}
<p>API is available at <code>http://{{ request.META.HTTP_HOST }}{% url mon_router %}{ API }</code>. 
The data is returned as a JSON-formatted string object.</p>
<h3>format</h3>
<p>
    <code><pre>
[
    {
        <em>sensor name</em>: <em>value</em>, 
        <em>sensor name</em>: <em>value</em>, 
        <em>created</em>: <em>ISO 8601 date format</em>
    }
]
    </pre></code>

<h3>data</h3>
   <code><pre>
[
    {
        "current": 130.0, 
        "volt": 12.1, 
        "created": "2010-10-11T09:42:39"
    }, 
    {
        "current": 130.0, 
        "volt": 12.1, 
        "created": "2010-10-10T20:14:32"
    }
]
    </pre></code>
</p>
<h3>API</h3>
<dl>
    <dt><a href="{% url mon_router %}" title="empty"><code><em>"empty"</em></code></a></dt>
    <dd>All data available is returned. There is an exception to this rule; if one of the data fields have a null value, the entry will not be included in the result.</dd>

    <dt><a href="{% url mon_router pattern="current/" %}" title="current"><code>/current/</code></a></dt>
    <dd>Current for all dates.</dd>

    <dt><a href="{% url mon_router pattern="created/volt/current/" %}" title="current"><code>/current/volt/created</code></a></dt>
    <dd>Current, volt and created for all dates.</dd>

    <dt><a href="{% url mon_router pattern="created/temp/2010/10/" %}" title="light and temp"><code>/temp/created/2010/10/</code></a></dt>
    <dd>Temp and created from Oct. 2010.</dd>

    <dt><a href="{% url mon_router pattern="temp/2010/10/11/" %}" title="temp"><code>/temp/2010/10/11/</code></a></dt>
    <dd>Temp from 11 of Oct. 2010.</dd>

    <dt><a href="{% url mon_router pattern="temp/created/2010/10/11/-/2010/10/14/" %}" title="temp"><code>/temp/created/2010/10/11/-/2010/10/14</code></a></dt>
    <dd>Temp and created from the 11 of Oct. 2010. to the 14 of Oct 2010. Date-ranges are quite flexible.</dd>
</dl>
<h3>charts</h3>
<p>Data can be visualized using the <a href="{% url chart %}">charts API</a>. Append the same 
knowledge as used to retrieved JSON formatted strings. Instead of strings a graph is returned.</p>

{% endblock %}
